:root{
    --dark-blue:rgb(37,61,92);
    --middle-blue:rgb(51, 92, 129);
    --light-blue:rgb(93,161,234);
    --yellow: #ffc857;
    --pink:rgb(255,169,231);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.search_res_area{
    width: 450px;
    background-color: white;
    height: 100vh;
    color: black;
    position: absolute;
    z-index: 2;
    left: -1000px;
    border-right: 1px solid var(--middle-blue);
    transition: .8s ease;
}

.search_res_area .fa-close{
    cursor: pointer;
    font-size: calc(16px + .2vw);
}
.search_res_box {
    width: 100%;
    height: 100%;
    overflow: auto;
}


.search_res_box .api_{
    width: 100%;
}


.user_p_o{
    width: 100%;
    border-bottom: 2px solid var(--middle-blue);
    padding: 15px;
}


.user_p_o i{
    padding: 15px;
    border-radius: 50%;
    background-color: var(--yellow);
    color: white;
}

@media(max-width: 576px){
    .search_res_area{
        width: 100%;
    }
}