:root{
    --dark-blue:rgb(37,61,92);
    --middle-blue:rgb(51, 92, 129);
    --light-blue:rgb(93,161,234);
    --yellow: #ffc857;
    --pink:rgb(255,169,231);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.back-area i{
    font-size: calc(19px + 1.1vw);
    cursor: pointer;
    color: var(--dark-blue);
}

form{
    width: 900px;
}

.selectApi_form{
    width: 100%;
}

.selectApi_div,
.selectApi_form :nth-child(3) div{
    gap: 20px;
    color: var(--light-blue);
    letter-spacing: .4px;
    font-weight: 500;
}

.selectApi_form :nth-child(3) div{
    height: fit-content;
}

.selectApi_div label{
    font-size: clamp(13px ,1.4vw ,18px);
    cursor: pointer;
}

.selectApi_div label input{
    margin-right: 5px;
}



@media(max-width:992px){
    .header-text-area{
        width: 490px;
    }

    form{
        width: 650px;
    }

    .selectApi_form > :nth-child(3){
        width: 100%;
    }

    .selectApi_form :nth-child(3) div{
        padding-right: 65px;
    }
}



@media(max-width:768px){
    .header-text-area{
        width: 100%;
    }


    form{
        width: 100%;
    }
    .selectApi_form{

        gap: 20px;
    }

    .selectApi_form > :nth-child(3){
        width: 100%;
    }

    .selectApi_form :nth-child(3) div{
        padding-right: 65px;
    }
    .btn-block button{
        padding: 10px 90px;
    }
}



@media(max-width:576px){
    .header-text-area{
        width: 100%;
    }


    .selectApi_form{
        flex-direction: column;
    }

    .btn-block button{
        padding: 8px 40px;
        font-size: 14px;
        letter-spacing: .3px;
    }
}